.header{
	font-size: 30px;
	text-align: center;
}

tr, th, td {
	border: 1px solid #ccc; 
	padding: 20px;
	text-align: center;
	font-family: sans-serif;

}

table{
	margin: 30px auto;
}

caption{
	background-color:#1BA6E5;
	padding: 10px;
	font-family: sans-serif;
	color: #fff;
}

#connexion_admin{
	margin: 30px auto;
	text-align: center;
	
}

.form_admin{
	padding: 5px;
}

button{
	margin : 5px;
}