/*LOGIN - REGISTER */
.header{
	text-align: center;
	font-family: "PT sans";
	margin-top: 50px;
	font-weight: bold;
	font-size: 2em;
}
.form_admin{
	padding: 5px;
	
}

#register_admin{
	font-family: "PT sans""PT sans";
	margin: 0 auto;
	margin-top: 80px;
	color: #fff;
	text-align: center;
	padding: 20px;
	width: 500px;
	border-radius: 5px;
	background-color:  #1C8AF9;
	border: 3px solid #0D47A1;
}

#connexion_admin{
	font-family: "PT sans""PT sans";
	margin: 0 auto;
	margin-top: 80px;
	color: #fff;
	text-align: center;
	padding: 20px;
	width: 500px;
	border-radius: 5px;
	background-color:  #1C8AF9;
	border: 3px solid #0D47A1;
}

label{
	width: 250px;
	display: block;
	float: left;
	
}

input.input{
	border: 3px solid  #0d47a1;
	border-radius: 3px;
	padding: 3px;
}



button.btn_admin{
	font-family: "PT sans";
	padding:0.5em;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	background-color: #fff;
	border: none;
}

button.btn_admin:hover{
	color: #FFF;
	background-color: #FE641E;
}

/*CONTROL ADMIN*/
.title_office{
	font-size: 3em;
	text-align: center;
}

a.deconnexion_admin{
	background-color:  #1C8AF9;
	color: #fff;
	font-size: 1.5em;
	float: right;
	margin-right: 20px;
	text-decoration: none;
	width: 7em;
	padding: 4px 3px;
	text-align: center;
	border-radius: 3px;

}

a.deconnexion_admin:hover{
	background-color: #FE641E;
	color: #fff;
}
tr, th, td {
	border: 1px solid #ccc; 
	padding: 20px;
	text-align: center;
	font-family: "PT sans";
	font-size: 1.3em;

}

table{
	margin: 50px auto;
}

caption{
	background-color:#1C8AF9;
	padding: 10px;
	font-family: "PT sans";
	color: #fff;
	font-size: 1.5em;
}

