.header{
	font-size: 30px;
	text-align: center;
}

tr, th, td {
	border: 1px solid #ccc; 
	padding: 20px;
	text-align: center;
	font-family: sans-serif;

}

table{
	margin: 30px auto;
}

caption{
	background-color:#1C8AF9;
	padding: 10px;
	font-family: sans-serif;
	color: #fff;
}
.form_admin{
	padding: 5px;
	
}

#register_admin, #connexion_admin{
	font-family: "PT sans";
	margin: 0 auto;
	margin-top: 80px;
	color: #fff;
	text-align: center;
	padding: 20px;
	width: 500px;
	border-radius: 5px;
	background-color:  #1C8AF9;
	border: 3px solid #0D47A1;
}

button.btn_admin{
	font-family: "PT sans";
	padding:0.5em;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2px;
	background-color: #fff;
	border: none;
}

button.btn_admin:hover{
	color: #FFF;
	background-color: #FE641E;
}

.input{
	border: 3px solid  #0d47a1;
	border-radius: 3px;
	padding: 3px;
}

label{
	width: 250px;
	display: block;
	float: left;
	
}

button{
	margin : 5px;
}

