
/*==================STYLE GENERAL===================*/

*{	
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

body
{
	font:14px;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	position: relative;
}

/*=====================STYLE PAGE HOME.PHP=======================*/

.presentation{
	border:1px solid #ccc;
	width:500px;
	padding:50px;
	margin:50px auto;
}

/*=====================STYLE PAGE LAYOUT_BDLOC_NOMENU.PHP=======================*/

.footer-layout-bdloc-nomenu{
	height:20%;
	background-color: #ccc;
}