
/*==================STYLE GENERAL===================*/

*{	
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
img{
/*	width: 100%;
	display: block;*/
}
body
{
	font:14px;
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

/*=====================STYLE PAGE LAYOUT_BDLOC.PHP=======================*/

header {
	display:flex;
	background-color:#EBEBEB;;
	height:100px;
	
}

#logo {
	position: absolute;
  	left: 0px;
	}
	
	img.logo {
	display:block;
	margin-right:10px;
	}

nav {
	width:100%;
}
	
	.navigation{
		width:35%;
		padding:20px;
		margin:15px 0 0 280px;
		}
	
		.navigation li{
			display:inline-block;
			padding:5px;
			}
	
			.navigation li a{
				color:#AFB4B7;
			}
	
.logout {
	float:right;
	padding:10px;
	background-color:#AFB4B7;
	width:12%;
	}

	.titre-logout {
		color:white;
		font-size: 12px;
	}

	.link-logout {
		color:white;
		font-size: 14px;
		text-decoration: underline;
	}

/*=====================STYLE PAGE LAYOUT_BDLOC_NOMENU.PHP=======================*/

.nav-footer{
	height:30%;
	padding:5em;
	width:100%;
	background-color: #EBEBEB;
	/*gris clair*/
	bottom:0;
	left:0;
	color:#AFB4B7;
	
	}	
		img.palette {
			width:20%;
		}

		.nav-footer li {
			display:inline-block;
		}

			.nav-footer li a {
				color:#AFB4B7;
			}



/*=====================STYLE PAGE HOME.PHP=======================*/

.titre-home {
	text-align: center;
}

.main-home {
	width:100%;
	background-color:#ccc;
}

.presentation {
	border:1px solid #000;
	width:40%;
	padding:5%;
	margin:5% auto;
	background-color:#fff;
}

.presentation-link {
	text-align: center;
	margin:5%;
}
.login{
	position: absolute;
	width: 500px;
	top:-500px;
	opacity: 0.5;
}

/*=====================STYLE PAGE INSCRIPTION.PHP=======================*/

fieldset {
	border:1px solid black;
	padding:15px;
}

	legend {
		margin-left:20px;
	}

/*=====================STYLE PAGE CATALOGUE.PHP=======================*/

.main {
	background-color:#fff;
	width:100%;
	overflow:auto;
	/*yellow*/
}

	.filter{
		width: 15%;
		background-color: #1C8AF9;;
		/*vert fluo*/
		padding:0.8em;
		margin:0.8em;
		min-width: 250px;
		float: left;
		border-radius: 10px
		
		
	}
	.results{
		height:100px;
		width:auto;
		background-color:#E74C3C;
		/*rouge*/
		margin:0.8em;
		margin-bottom: 10em;
		padding:0.8em;
		min-width: 250px;
		/*float:right;*/
	}

	.maincat{
		float: left;
		width: 80%;
	}
	.listcat{
		width: auto;
		background-color: #FE641E;
		/*orange*/
		padding: 1.2em;
		min-width: 300px;
		float: left;
	}
	.book{
		padding: 0.5em;
		margin: 0.8em;
		border : 1px solid #AFB4B7;
		max-width: 400px;
		float: left;
		background-color: #fff;
	}
	.info-book img{
		margin-right: 1em;
	}