
/*==================STYLE GENERAL===================*/

*{	
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration: none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

body
{
	font:14px;
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	position: relative;
}

/*=====================STYLE PAGE HOME.PHP=======================*/

.presentation{
	border:1px solid #ccc;
	width:40%;
	padding:5%;
	margin:10% auto;
}

/*=====================STYLE PAGE LAYOUT_BDLOC_NOMENU.PHP=======================*/

.footer-layout-bdloc-nomenu{
	height:20%;
	background-color: #ccc;
}
/*=====================STYLE PAGE CATALOGUE.PHP=======================*/
.container{
	width: 100%;
}
.filter{
	float:left;
	width: 20%;
	background-color: #984456;
	padding:10px;
	margin-right: 2%;
	margin-left: 2%;
}
.results{
	float: left;
	width: 76%;
	background-color:#458871;
	padding: 5px;
}
.listcat{
	clear: both;
	width: 76%;
	background-color: #457822;
	padding: 20px;
}